@use "variables" as *;

@mixin text-preset-1-bold {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.25px;
  font-weight: 700;
}

@mixin text-preset-2-bold {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -0.12px;
  font-weight: 700;
}

@mixin text-preset-2-medium {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -0.12px;
  font-weight: 500;
}

@mixin text-preset-3 {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: -0.25px;
  font-weight: 400;
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
