$white: hsl(0, 100%, 100%);
$grey-900: hsl(217, 19%, 35%);
$grey-500: hsl(214, 17%, 51%);
$grey-400: hsl(212, 23%, 69%);
$grey-200: hsl(210, 46%, 95%);

$spacing-0: 0rem; // 0px
$spacing-200: 1.231rem; // 16px
$spacing-300: 1.846rem; // 24px
$spacing-400: 2.462rem; // 32px
$spacing-500: 3.077rem; // 40px
$spacing-600: 3.692rem; // 48px
$spacing-700: 4.308rem; // 56px
$spacing-800: 4.923rem; // 64px
$spacing-1300: 8rem; // 104px
$spacing-2000: 12.308rem; // 160px

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
